<a href="https://colab.research.google.com/github/giogarulli/MLPNS_GGarulli/blob/main/MLPNS23_Assignment_Week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports
Import pandas and data

In [10]:
import pandas as pd
url = "https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat"
colnames = ["Title", "Genre"]
movies = pd.read_csv(url,sep="::",index_col=0, engine="python", header=None, names=colnames)

# Find and count single-genre movies

## Fantasy-only movies

In [27]:
fantasyOnly = movies[movies.Genre.map(lambda x: x=="Fantasy")]
fantasyOnly

                              Title    Genre
792  Hungarian Fairy Tale, A (1987)  Fantasy

In [31]:
fantasyOnly.count().Title

1

## Adventure-only movies

In [29]:
adventureOnly = movies[movies.Genre.map(lambda x: x=="Adventure")]
adventureOnly

                                         Title      Genre
761                        Phantom, The (1996)  Adventure
941                  Mark of Zorro, The (1940)  Adventure
1070                              Macao (1952)  Adventure
1254  Treasure of the Sierra Madre, The (1948)  Adventure
1303         Man Who Would Be King, The (1975)  Adventure
1849                     Prince Valiant (1997)  Adventure
1931               Mutiny on the Bounty (1935)  Adventure
2477                         Firewalker (1986)  Adventure
2537      Beyond the Poseidon Adventure (1979)  Adventure
2895              Napoleon and Samantha (1972)  Adventure
3036                     Quest for Fire (1981)  Adventure
3166                       Brenda Starr (1989)  Adventure
3172                   Ulysses (Ulisse) (1954)  Adventure
3207          Snows of Kilimanjaro, The (1952)  Adventure
3390                  Shanghai Surprise (1986)  Adventure
3412                          Bear, The (1988)  Adventure
3492              Son of the Sheik, The (1926)  Adventure

In [30]:
adventureOnly.count().Title

17

# Find movies containing one genre possibly among others

In [16]:
def findSepString(x, str, separator):
  """
  A function that returns True if the element <x> is present in the list <str> that uses <separator> as element separator, false otherwise
  Input:
    x: the element you are looking for, is a string
    str: list to be scanned in search for x, is a string
    separator: charachter(s) use to separate elements in str
  Return:
    a boolean
  """
  return x in str.split(separator)

## Fantasy movies

In [33]:
targetGenre = "Fantasy"
fantasyMovies = movies[movies.Genre.map(lambda gen: findSepString(targetGenre,gen,"|"))]
fantasyMovies

,Title,Genre
2,Jumanji (1995),Adventure|Children's|Fantasy
56,Kids of the Round Table (1995),Adventure|Children's|Fantasy
60,"Indian in the Cupboard, The (1995)",Adventure|Children's|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children's|Fantasy
247,Heavenly Creatures (1994),Drama|Fantasy|Romance|Thriller
...,...,...
3479,Ladyhawke (1985),Adventure|Fantasy|Romance
3489,Hook (1991),Adventure|Fantasy
3877,Supergirl (1984),Action|Adventure|Fantasy
3889,Highlander: Endgame (2000),Action|Adventure|Fantasy
3920,"Faraway, So Close (In Weiter Ferne, So Nah!) (...",Drama|Fantasy

In [34]:
fantasyMovies.count().Title

68

## Adventure movies

In [35]:
targetGenre = "Adventure"
adventureMovies = movies[movies.Genre.map(lambda gen: findSepString(targetGenre,gen,"|"))]
adventureMovies

                                       Title                           Genre
2                             Jumanji (1995)    Adventure|Children's|Fantasy
8                        Tom and Huck (1995)            Adventure|Children's
10                          GoldenEye (1995)       Action|Adventure|Thriller
15                   Cutthroat Island (1995)        Action|Adventure|Romance
29         City of Lost Children, The (1995)                Adventure|Sci-Fi
...                                      ...                             ...
3877                        Supergirl (1984)        Action|Adventure|Fantasy
3889              Highlander: Endgame (2000)        Action|Adventure|Fantasy
3926  Voyage to the Bottom of the Sea (1961)                Adventure|Sci-Fi
3927                 Fantastic Voyage (1966)                Adventure|Sci-Fi
3945               Digimon: The Movie (2000)  Adventure|Animation|Children's

[283 rows x 2 columns]

In [36]:
adventureMovies.count().Title

283